services:
  user:
    build:
      context: ./user
      dockerfile: dockerfile
    ports:
      - "5001:5001"
    env_file: .env
    environment:
      - PORT=5001
    networks:
      - app-network

  chat:
    build:
      context: ./chat
      dockerfile: dockerfile
    ports:
      - "5002:5002"
    env_file: .env
    environment:
      - PORT=5002
    networks:
      - app-network

  mail:
    build:
      context: ./mail
      dockerfile: dockerfile
    ports:
      - "5003:5003"
    env_file: .env
    environment:
      - PORT=5003
    networks:
      - app-network

networks:
  app-network:
