services:
  user:
    build:
      context: ./user
      dockerfile: dockerfile
    ports:
      - "5001:5001"
    env_file: .env
    environment:
      - PORT=5001
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  chat:
    build:
      context: ./chat
      dockerfile: dockerfile
    ports:
      - "5002:5002"
    env_file: .env
    environment:
      - PORT=5002
    networks:
      - app-network

  mail:
    build:
      context: ./mail
      dockerfile: dockerfile
    ports:
      - "5003:5003"
    env_file: .env
    environment:
      - PORT=5003
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:management
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin123
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - app-network

volumes:
  rabbitmq_data:

networks:
  app-network:
